{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["test/**/*.ts?(x)"],
      "rules": {
        "no-console": "off",
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "lines-between-class-members": "off",
    "no-new": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any":"off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "import/export": "off",
    "import/extensions": ["warn", "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "react/sort-comp": [
      "warn",
      {
        "order": [
          "type-annotations",
          "instance-variables",
          "constructor",
          "lifecycle",
          "everything-else",
          "render"
        ],
        "groups": {
          "lifecycle": [
            "state",
            "static-methods",
            "propTypes",
            "defaultProps",
            "contextTypes",
            "childContextTypes",
            "getChildContext",
            "getDerivedStateFromProps",
            "componentWillMount",
            "UNSAFE_componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "UNSAFE_componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "UNSAFE_componentWillUpdate",
            "getSnapshotBeforeUpdate",
            "componentDidUpdate",
            "componentDidCatch",
            "componentWillUnmount"
          ]
        }
      }
    ],
    "react/static-property-placement": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
